@import "../../scss/variables.scss";
.input-group {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
  label {
    color: $clr-primary-text;
    font-size: 0.9em;
    font-weight: 400;
    opacity: 0.95;
    padding-left: 4px;
    margin-bottom: 4px;
  }
  input,
  textarea {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    color: $clr-primary-text;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    padding: 14px 16px;
    min-width: 250px;
  }
  .alert {
    color: $clr-error;
    padding-right: 2px;
    text-align: end;
  }
  &.invalid {
    input {
      border-color: $clr-error;
    }
  }
}
