@import "../../scss/variables.scss";
.logo-container {
  display: flex;
  align-items: center;
  gap: 6px;
  .logo {
    height: 60px;
    object-fit: cover;
  }
  .logo-title {
    color: $clr-primary-text;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  header {
    position: relative;
    a.logo-container {
      height: 44px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      .logo {
        height: 100%;
        width: 100%;
      }
    }
  }
  .logo-container {
    .logo-title {
      font-size: 1.4rem;
    }
  }
}
@media (max-width: 576px) {
  .logo-container {
    .logo-title {
      font-size: 1.3rem;
    }
  }
}
