.logo {
  width: 100px;
  height: 60px;
  object-fit: cover;
}
@media (max-width: 768px) {
  header {
    a.logo-container {
      height: 44px;
      width: 80px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      .logo {
        height: 100%;
        width: 100%;
      }
    }
  }
}
