@import "../../scss/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
header {
  .caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .slogan {
      font-size: 2rem;
      color: $clr-primary;
      font-family: "Alex Brush", cursive;
      font-weight: 600;
      letter-spacing: 3px;
    }
  }
}
@media (max-width: 768px) {
  header {
    border-bottom: 1px solid $clr-primary;
    padding: 0 16px;
    height: 49px;
    display: flex;
    align-items: center;
    .caption {
      order: 1;
      position: static;
      .slogan {
        display: none;
      }
    }
  }
}
