@import "../../scss/variables.scss";
.questions-section {
  padding-bottom: 48px;

  .direction {
    margin-bottom: 40px;
  }
  .questions {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@media (max-width: 576px) {
  .questions-section {
    .questions {
      width: 95%;
      .question-item {
        .question {
          align-items: flex-start;
        }
        .answer {
          padding: 20px 12px 12px 12px;
        }
      }
    }
  }
}
