@import "../../../scss/variables.scss";
nav {
  background-color: $clr-primary;
  font-size: 1rem;
  * {
    transition: 0.3s all ease;
  }
  ul.links {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 auto;
    .head-link {
      position: relative;
      > a {
        color: #fff;
        padding: 15px;
        font-weight: 700;
        font-size: 1em;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        white-space: nowrap;
        .arrowIcon {
          height: 14px;
          width: 14px;
        }
      }
      &:hover {
        background-color: $clr-primary-dark;
        > a {
          .arrowIcon {
            transform: rotate(180deg);
          }
        }
        ul.nav-dropdown {
          display: block;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  nav {
    display: none;
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    z-index: 100;
    font-size: 0.9rem;
    &.mobile-clicked {
      display: block;
    }
    ul.links {
      flex-direction: column;
      .head-link {
        justify-content: space-between;
        > a {
          justify-content: space-between;
          .arrowIcon {
            transform: rotate(-90deg);
            height: 15px;
            width: 15px;
            &.clicked {
              transform: rotate(0) !important;
            }
          }
        }
        &:hover {
          > a {
            .arrowIcon {
              transform: rotate(-90deg);
            }
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  nav {
    ul.links {
      .head-link {
        font-size: 0.85rem;
      }
    }
  }
}
