@import "../../scss/variables.scss";
footer {
  background-color: $clr-primary-text;
  font-size: 1rem;
  .navigation {
    padding: 48px 0;
    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 24px;
      .box {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .logo-container {
          flex-direction: column;
          gap: 2px;
          .logo {
            height: 50px;
          }
          .logo-title {
            color: #fff;
          }
        }
        .title {
          font-weight: 600;
          font-size: 1.4em;
          color: #ffffff;
          letter-spacing: 2px;
        }
        .links {
          display: flex;
          flex-direction: column;
          gap: 16px;
          li {
            a {
              font-weight: 400;
              font-size: 1.1em;
              color: #ffffff;
              transition: all 0.1s ease;
              &:hover {
                color: $clr-primary;
              }
            }
          }
        }
        &.contact {
          .links {
            li {
              display: flex;
              align-items: center;
              gap: 16px;
              img {
                width: 25px;
                height: 25px;
              }
              div {
                display: flex;
                flex-direction: column;
                gap: 10px;
              }
            }
          }
        }
      }
    }
  }
  .rights {
    display: flex;
    justify-content: space-between;
    padding: 24px 75px;
    border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
    .content {
      display: flex;
      gap: 40px;
      align-items: center;
      span {
        font-weight: 400;
        font-size: 1.1em;
        color: #ffffff;
        cursor: pointer;
        transition: all 0.1s ease;
        display: flex;
        align-items: center;
        gap: 16px;
        white-space: nowrap;
        &:hover {
          color: $clr-primary;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  footer {
    font-size: 0.95rem;
    .navigation {
      .container {
        gap: 20px;
        .box {
          width: 48%;
          gap: 20px;
          .logo-container {
            align-self: flex-start;
          }
        }
      }
    }
    .rights {
      padding: 20px 45px;
    }
  }
}
@media (max-width: 768px) {
  footer {
    .rights {
      padding: 0;
      flex-direction: column;
      border: none;
      .content {
        padding: 24px 16px;
        span {
          width: 100%;
          display: flex;
          justify-content: center;
        }
        &:nth-child(1) {
          border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
        }
        &:nth-child(2) {
          order: -1;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  footer {
    font-size: 0.9rem;
    .navigation {
      padding: 32px 0;
      .container {
        justify-content: center;
        .box {
          width: 100%;
          gap: 20px;
          align-items: center;
          .links {
            align-items: center;
          }
          &.contact {
            .links {
              li {
                gap: 10px;
              }
            }
          }
          .logo-container {
            align-self: center;
          }
        }
      }
    }
    .rigths {
      span {
        gap: 10px;
      }
    }
  }
}
